nav {


  .cta-wrapper {
    width: 100px;
    height: 100px;

    .hire-me {
      width: 100px;
      height: 100px;
    }
  }

  .cta-modal-container {
    -webkit-transition: all 2s;
    /* For Safari 3.1 to 6.0 */
    transition: all 2s;

    .cta-form-container {
      -webkit-transition: all 2s;
      /* For Safari 3.1 to 6.0 */
      transition: all 2s;

      .form {
        width: 80%;
        margin: 0 auto;

        input {
          height: 40px;
        }
      }
    }
  }
}