.timeline-container {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;

  /* IE 10+ */
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    /* make scrollbar transparent */
    display: none;
  }

  .timeline-element {
    min-width: 250px;

    .emoji {
      font-size: 100px;
    }
  }
}